/*This fixes padding of the title of each page.*/
div{
    border-width: 5px;
    padding: 30px;
}

/*This class that adjusts the margin of the items to look nice*/ 
.list-group-item {
    border: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}


/*A class to increase the size of the font of the title on each page*/
.title {
    font-size: 38px;
}